<a href="https://colab.research.google.com/github/mihatronych/tech_ch_m/blob/main/tech_ch_m_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [6]:
import csv
import sklearn as sk
import nltk
import pandas as pd

In [15]:
path = '/content/drive/My Drive/for_stii/Customer_Churn.csv'

In [18]:
data = pd.read_csv(path, ',')

In [19]:
data

      customerID  gender  SeniorCitizen  ... MonthlyCharges TotalCharges  Churn
0     7590-VHVEG  Female              0  ...          29.85        29.85     No
1     5575-GNVDE    Male              0  ...          56.95       1889.5     No
2     3668-QPYBK    Male              0  ...          53.85       108.15    Yes
3     7795-CFOCW    Male              0  ...          42.30      1840.75     No
4     9237-HQITU  Female              0  ...          70.70       151.65    Yes
...          ...     ...            ...  ...            ...          ...    ...
7038  6840-RESVB    Male              0  ...          84.80       1990.5     No
7039  2234-XADUH  Female              0  ...         103.20       7362.9     No
7040  4801-JZAZL  Female              0  ...          29.60       346.45     No
7041  8361-LTMKD    Male              1  ...          74.40        306.6    Yes
7042  3186-AJIEK    Male              0  ...         105.65       6844.5     No

[7043 rows x 21 columns]

In [21]:
data.dtypes

customerID           object
gender               object
SeniorCitizen         int64
Partner              object
Dependents           object
tenure                int64
PhoneService         object
MultipleLines        object
InternetService      object
OnlineSecurity       object
OnlineBackup         object
DeviceProtection     object
TechSupport          object
StreamingTV          object
StreamingMovies      object
Contract             object
PaperlessBilling     object
PaymentMethod        object
MonthlyCharges      float64
TotalCharges         object
Churn                object
dtype: object

In [22]:
obj_df = data.select_dtypes(include=['object']).copy()

In [23]:
obj_df.head()

   customerID  gender Partner  ...              PaymentMethod TotalCharges Churn
0  7590-VHVEG  Female     Yes  ...           Electronic check        29.85    No
1  5575-GNVDE    Male      No  ...               Mailed check       1889.5    No
2  3668-QPYBK    Male      No  ...               Mailed check       108.15   Yes
3  7795-CFOCW    Male      No  ...  Bank transfer (automatic)      1840.75    No
4  9237-HQITU  Female      No  ...           Electronic check       151.65   Yes

[5 rows x 18 columns]

In [24]:
obj_df[obj_df.isnull().any(axis=1)]

Empty DataFrame
Columns: [customerID, gender, Partner, Dependents, PhoneService, MultipleLines, InternetService, OnlineSecurity, OnlineBackup, DeviceProtection, TechSupport, StreamingTV, StreamingMovies, Contract, PaperlessBilling, PaymentMethod, TotalCharges, Churn]
Index: []

In [26]:
obj_df["customerID"].value_counts()

2209-XADXF    1
8180-AKMJV    1
4983-CLMLV    1
7404-JLKQG    1
0824-VWDPO    1
             ..
5019-GQVCR    1
5997-OPVFA    1
7392-YYPYJ    1
0330-IVZHA    1
4672-FOTSD    1
Name: customerID, Length: 7043, dtype: int64

In [ ]:
#obj_df["body_style"] = obj_df["body_style"].astype('category')

In [28]:
data = data[['gender', 'SeniorCitizen', 'PhoneService', 'MultipleLines', 'InternetService', 'Partner', 'Dependents', 'PaymentMethod', 'Churn']]

In [29]:
data

      gender  SeniorCitizen  ...              PaymentMethod Churn
0     Female              0  ...           Electronic check    No
1       Male              0  ...               Mailed check    No
2       Male              0  ...               Mailed check   Yes
3       Male              0  ...  Bank transfer (automatic)    No
4     Female              0  ...           Electronic check   Yes
...      ...            ...  ...                        ...   ...
7038    Male              0  ...               Mailed check    No
7039  Female              0  ...    Credit card (automatic)    No
7040  Female              0  ...           Electronic check    No
7041    Male              1  ...               Mailed check   Yes
7042    Male              0  ...  Bank transfer (automatic)    No

[7043 rows x 9 columns]

In [32]:
data['Churn'] = data['Churn'].replace('Yes', "Yes")
data['Churn'] = data['Churn'].replace('No', "No")
data['PhoneService'] = data['PhoneService'].replace('Yes', True)
data['PhoneService'] = data['PhoneService'].replace('No', False)
data['Partner'] = data['Partner'].replace('Yes', True)
data['Partner'] = data['Partner'].replace('No', False)
data['Dependents'] = data['Dependents'].replace('Yes', True)
data['Dependents'] = data['Dependents'].replace('No', False)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [33]:
data.head()

   gender  SeniorCitizen  ...              PaymentMethod Churn
0  Female              0  ...           Electronic check    No
1    Male              0  ...               Mailed check    No
2    Male              0  ...               Mailed check  True
3    Male              0  ...  Bank transfer (automatic)    No
4  Female              0  ...           Electronic check  True

[5 rows x 9 columns]

In [34]:
data.dtypes

gender             object
SeniorCitizen       int64
PhoneService         bool
MultipleLines      object
InternetService    object
Partner              bool
Dependents           bool
PaymentMethod      object
Churn              object
dtype: object

In [37]:
data["gender"] = data["gender"].astype('category')
data["MultipleLines"] = data["MultipleLines"].astype('category')
data["InternetService"] = data["InternetService"].astype('category')
data["PaymentMethod"] = data["PaymentMethod"].astype('category')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [38]:
data["gender"] = data["gender"].cat.codes
data["MultipleLines"] = data["MultipleLines"].cat.codes
data["InternetService"] = data["InternetService"].cat.codes
data["PaymentMethod"] = data["PaymentMethod"].cat.codes
data.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

   gender  SeniorCitizen  PhoneService  ...  Dependents  PaymentMethod  Churn
0       0              0         False  ...       False              2     No
1       1              0          True  ...       False              3     No
2       1              0          True  ...       False              3   True
3       1              0         False  ...       False              0     No
4       0              0          True  ...       False              2   True

[5 rows x 9 columns]

In [55]:
data["Churn"] = data["Churn"].astype('category')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [56]:
data["Churn"] = data["Churn"].cat.codes

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [57]:
X = data[['gender', 'SeniorCitizen', 'PhoneService', 'MultipleLines', 'InternetService', 'Partner', 'Dependents', 'PaymentMethod']]

In [58]:
y = data[["Churn"]]

In [59]:
X

      gender  SeniorCitizen  PhoneService  ...  Partner  Dependents  PaymentMethod
0          0              0         False  ...     True       False              2
1          1              0          True  ...    False       False              3
2          1              0          True  ...    False       False              3
3          1              0         False  ...    False       False              0
4          0              0          True  ...    False       False              2
...      ...            ...           ...  ...      ...         ...            ...
7038       1              0          True  ...     True        True              3
7039       0              0          True  ...     True        True              1
7040       0              0         False  ...     True        True              2
7041       1              1          True  ...     True       False              3
7042       1              0          True  ...    False       False              0

[7043 rows x 8 columns]

In [60]:
y

      Churn
0         0
1         0
2         1
3         0
4         1
...     ...
7038      0
7039      0
7040      0
7041      1
7042      0

[7043 rows x 1 columns]

In [62]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3)

from sklearn.naive_bayes import MultinomialNB
classif = MultinomialNB()
classif.fit(X_train, y_train)
y_pred = classif.predict(X_test)

from sklearn import metrics
print("f1 score: ", metrics.f1_score(y_test, y_pred))

f1 score:  0.04475043029259897

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [64]:
print(metrics.classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.74      0.99      0.85      1553
           1       0.62      0.02      0.04       560

    accuracy                           0.74      2113
   macro avg       0.68      0.51      0.45      2113
weighted avg       0.71      0.74      0.63      2113

In [66]:
from sklearn.neural_network import MLPClassifier
classif = MLPClassifier()
classif.fit(X_train, y_train)
y_pred = classif.predict(X_test)
print(metrics.classification_report(y_test, y_pred))

/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:934: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

              precision    recall  f1-score   support

           0       0.78      0.94      0.85      1553
           1       0.61      0.28      0.38       560

    accuracy                           0.76      2113
   macro avg       0.70      0.61      0.62      2113
weighted avg       0.74      0.76      0.73      2113

In [67]:
from sklearn.tree import DecisionTreeClassifier
classif = DecisionTreeClassifier()
classif.fit(X_train, y_train)
y_pred = classif.predict(X_test)
print(metrics.classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.78      0.92      0.85      1553
           1       0.56      0.30      0.39       560

    accuracy                           0.75      2113
   macro avg       0.67      0.61      0.62      2113
weighted avg       0.73      0.75      0.73      2113